+++
title = "Crane"
linkTitle = "Crane"

+++

{{< blocks/cover title="Crane" image_anchor="top" image_anchor="center" color="dark" >}}
<div class="mx-auto">
	<p class="lead mt-5">Cloud Resource Analytics and Economics</p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		开始使用 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg mr-3 mb-4" style="background-color: white" href="https://github.com/gocrane/crane">
		参与贡献 <i class="fab fa-github ml-2 "></i>
	</a>
	<div class="mx-auto mt-5">
		{{<blocks/link-down color="light">}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<strong>Crane 是什么?</strong>

Crane 是一个基于 FinOps 的云资源分析与成本优化平台。它的愿景是在保证客户应用运行质量的前提下实现极致的降本。

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-chart-area" title="成本展示" url="./docs/" %}}
Kubernetes 资源( Deployments, StatefulSets )的多维度聚合与展示。{{% /blocks/feature %}}
{{% blocks/feature icon="fa-light fa-check" title="成本分析" url="./docs/" %}}
周期性的分析集群资源的状态并提供优化建议。
{{% /blocks/feature %}}
{{% blocks/feature icon="fa-solid fa-screwdriver" title="成本优化" url="./docs/" %}}
通过丰富的优化工具更新配置达成降本的目标。
{{% /blocks/feature %}}

{{< /blocks/section >}}

<section class="used-by-section">
	<h1>谁在使用 Crane?</h1>
	<div class="used-by__users">
		<div class="used-by__user">
			<img class="used-by-logo" height="100" src="/images/users/tencent-cloud.png" alt="tencent cloud logo">
		</div>
		<div class="used-by__user">
			<img class="used-by-logo" height="100"  src="/images/users/xiaohongshu.png" alt="xiaohongshu logo">
		</div>
		<div class="used-by__user">
			<img class="used-by-logo" height="100"  src="/images/users/netease.png" alt="netease media logo">
		</div>
		<div class="used-by__user">
			<img class="used-by-logo" height="100" width="200" src="/images/users/shushu.png" alt="shushu tech logo">
		</div>
	</div>
</section>

<section class="used-by-section">
</section>