+++
title = "Crane"
linkTitle = "Crane"

+++

{{< blocks/cover title="Crane" image_anchor="top" image_anchor="center" color="dark" >}}
<div class="mx-auto">
	<p class="lead mt-5">Cloud Resource Analytics and Economics</p>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg mr-3 mb-4" style="background-color: white" href="https://github.com/gocrane/crane">
		Contribute <i class="fab fa-github ml-2 "></i>
	</a>
	<div class="mx-auto mt-5">
		{{<blocks/link-down color="light">}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<strong>What is Crane?</strong>

Crane is a FinOps Platform for Cloud Resource Analytics and Economics in Kubernetes clusters. The goal is not only help user to manage cloud cost easier but also ensure the quality of applications.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-chart-area" title="Understanding" url="./docs/" %}}
Cost insight for cloud assets and kubernetes resources(Deployments, StatefulSets).
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-light fa-check" title="Analytics" url="./docs/" %}}
Periodically analytics the states in cluster and provide optimization recommendations.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-screwdriver" title="Optimization" url="./docs/" %}}
Rich set of functionalities to operate and reduce your cost.{{% /blocks/feature %}}
{{< /blocks/section >}}

<section class="used-by-section">
	<h1>Who is using Crane?</h1>
	<div class="used-by__users">
		<div class="used-by__user">
			<img class="used-by-logo" height="100" src="/images/users/tencent-cloud.png" alt="tencent cloud logo">
		</div>
		<div class="used-by__user">
			<img class="used-by-logo" height="100"  src="/images/users/xiaohongshu.png" alt="xiaohongshu logo">
		</div>
		<div class="used-by__user">
			<img class="used-by-logo" height="100"  src="/images/users/netease.png" alt="netease media logo">
		</div>
		<div class="used-by__user">
			<img class="used-by-logo" height="100" width="200" src="/images/users/shushu.png" alt="shushu tech logo">
		</div>
	</div>
</section>

<section class="used-by-section">
</section>