.rankListPanel {
  margin-top: 16px;
}

.rankIndex {
  display: inline-flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  background-color: var(--td-gray-color-5);
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.rankIndexTop {
  background: var(--td-brand-color);
}
