.itemContainer {
  width: 400px;
  margin-top: 48px;
}

.verificationBtn {
  flex-shrink: 0;
  width: 102px;
  height: 40px;
  margin-left: 11px;
}

.switchContainer {
  margin-top: 24px;
}

.switchTip {
  font-size: 14px;
  color: var(--td-brand-color);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 14px;
}

.checkContainer {
  font-size: 14px;
  color: var(--td-text-color-secondary);
  :global {
    .tip {
      float: right;
      font-size: 14px;
      color: var(--td-brand-color);
    }
  }
}
